/HelloWorld/HelloWorld/nbproject/private/
/HelloWorld - копия/HelloWorld/nbproject/private/
/Zadacha/HelloWorld/nbproject/private/
/Zadacha/nbproject/private/
/HelloSocket/HelloSocket/nbproject/private/